.result::placeholder {
    color: red;

}

.result {
    color: red;
    font-size: 55px;
    font-weight: bold;
    background-color: black;
    height: 70px;
    padding-right: 5px;
    width: 380px;
    text-align: right;
}

.capture {
    margin-left: 5px;
    width: 200px;
    height: 70px;
    border: 1px solid rgb(165, 179, 190);
    background-color: rgb(215, 235, 248);
    border-radius: 3px;
}

.submt {
    margin: 0px 75px 0px 75px;
    width: 100px;
    background-color: rgb(215, 235, 248);
    border: 1px solid rgb(165, 179, 190);
    border-radius: 3px;
    padding: 3px 0px 3px 0px;

}